body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.rectangle {
    width: 200px; /* Width of the rectangle */
    height: 100px; /* Height of the rectangle */
    background-color: transparent;
    border: 100px black;

}
